pop input
push 5
pop sum
push 0
pop index
push 1
label startloop
push index
push input
lt
if-goto exitloop
pop sum
push sum
push index
add 
pop index
push index
push 1
add 
goto startloop
label exitloop
print sum
