pop input
push 5
pop sum
push 0
pop index
push 1
label startloop
if-goto exitloop
push index
push input
push sum
push equals
push sum
push index
add 
push index
push equals
push index
push 1
add 
goto startloop
label exitloop
print 
