push 5
pop input
push 0
pop sum
push 1
pop index
label startloop
push index
push input
lt
if-goto exitloop
push sum
push index
add 
pop sum
push index
push 1
add 
pop index
goto startloop
label exitloop
print sum
